.body {
    margin: 50px;
}

.small{
    font-family: cursive;
    color: blueviolet
}

#top {
    text-align: right;
}

.nav {
    margin-top: 20px;
    border: 1px solid black;
}
.nav li {
    display: inline-block;
    font-size: 20px;
    padding-left: 20px;
}
#tools {
    font-size: 30px;
}
#desc {
    height: 200px;
    margin: 20px;
}

#client {
    padding-left: 60px;
    font-size: 50px;
    margin: 40px;
    color: red;
}

#top-header {
    height: 180px;
    padding-top: 10px;
}

#top-header h1{
    text-align: center;
    font-size: 60px;
}

table {
    margin: 50px;
}
td {
    height: 50px;
}

th {
    height: 50px;
    background-color: aquamarine;
}




/* table, th, td {
    border: 1px solid black;
} */