.body {
    margin: 50px;
}

.small{
    font-family: cursive;
    color: blueviolet
}

.nav {
    margin-top: 20px;
    border: 1px solid black;
}
.nav li {
    display: inline-block;
    font-size: 20px;
    padding-left: 20px;
}
#tools {
    font-size: 30px;
}
#desc {
    height: 200px;
    margin-top: 10px;
    text-align: left;
}

#client {
    font-size: 50px;
    margin: 40px;
}

#top-header {
    height: 180px;
    padding-top: 10px;
}

#top-header h1{
    text-align: center;
    font-size: 60px;
    font-family: 'Lobster Two', cursive;
    color:#b70e4d;
    padding: 40px;
}

.new h1 {
    font-family: 'Lobster Two', cursive;
}

table {
    margin: 50px;
}
td {
    height: 50px;
}

th {
    height: 50px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: inline-block;
    background-color: black;
    padding-left:20px;
    padding-top: 10px;
    color: white;
    text-align: left;
    font-family: 'Lobster Two', cursive;
}

#top {
    text-align: right;
}


/* table, th, td {
    border: 1px solid black;
} */